@import "colors.scss";

body {
    background-color: $lightgy;
}


.table-responsive-lg {
    background-color: white;
    margin:30px;
}

.out-hole-head, .in-hole-head {
    background-color: $golfgreen;
    color: white;
}

.out-yard-row, .in-yard-row {
    background-color: $golfblue;
    color: white;
}

.out-par-row, .in-par-row {
    background-color: $golfgreen;
    color: white;
}

.out-hand-row, .in-hand-row {
    background-color: #dadfea;
}

input {
    width: 40px;
}

.all-score-style {
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
}

button {
    background: $oxfordblue;
    color: $lightgy;
    padding: 0 1px;
}