@import "colors.scss";

body {
    background-color: $lightgy;
}

.table-responsive-md {
    background-color: white;
    margin:30px;
}

.out-hole-head, .in-hole-head {
    background-color: $golfgreen;
    color: white;
}

.out-yard-row, .in-yard-row {
    background-color: $golfblue;
    color: white;
}

.out-par-row, .in-par-row {
    background-color: $golfgreen;
    color: white;
}
