@import "colors.scss";

body {
    background-color: $lightgy;
}

.table-responsive-md {
    background-color: white;
    margin:30px;
}

.in-row-1, .out-row-1 {
    background-color: $golfgreen;
    color: white;
}

.in-row-2, .out-row-2 {
    background-color: $golfblue;
    color: white;
}

.in-row-3, .out-row-3 {
    background-color: $golfgreen;
    color: white;
}